@{Layout="~/Views/Shared/_Layout_bootstrap_backbone.cshtml";}
<script src="/Content/js/catitem-init.js"></script>

<script type="text/template" id="search_template">
  <label>CatName:</label> <input type="text" id="name" value="<%= nameValue %>" /><br />
  <label>CatDescription:</label> <br />
  <textarea id="description">
  <%= descriptionValue %>
  </textarea>
</script>

<script type="text/javascript">
jQuery(function () {
	var mymodel = new TestModel (
		{
			nameValue : "@ViewBag.catInfo.name", 
			descriptionValue : "@Html.Raw(ViewBag.catInfo.description)"
		}
	);
	var view = new ListView({model : mymodel});
	$("#production-list").html(view.render().el);
});
</script>
<h2>@ViewBag.Message</h2>


<div id="production-list" style="align: left;">assets-list-loading...</div>

<div id="cats">
  	in case you missed it the first time, this is the description:...<br />
	@Html.Raw(ViewBag.catInfo.description)
  	<p><h1>and nowforthe real magento call...</h1>
	  	sessionid: @ViewBag.sessionId<br />
	  	desc: @ViewBag.catInfo.description<br />
	</p>
</div>
<script type="text/javascript">
	  $("ul.nav li").removeClass("active");
	  $("ul.nav li#menu2").addClass("active");
</script>